/* navbar dropdown on hover */

.dropdown-menu a:hover {background-color:#5089f2;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {background-color: 
#5089f2;}
.navbar-custom .dropdown-menu {
    background-color: #5089f2;
}
.navbar-custom .dropdown-item {
    color: white;
    font-size: 12px;
    font-weight:bold;
    padding: 0rem 0.6rem 0rem 0.6rem;
}

.dropdown-toggle::after { 
            content: none; 
        } 
        
.dropdown-menu {
    min-width: 1rem;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
}

.diamond-icon{
  color: #5089f2 ;
  border: 100;
}

.maps {
 display: block;
  margin-left: auto;
  margin-right: auto;
}

.paddingContact-container {
    padding: 68px 15px 72px !important;
}
.container h1.white, .company-heading h1 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
}
.control-group {
  margin-bottom: 15px;
}
.form {
  margin-top: 25px;
  margin-bottom: 25px;
}
.white {
    color: #fff;
}
.container p {
    font-style: normal !important;
    color: #fff;
    font-size: 20px;
  }
.theme-selector {
  display: none;
}
.contact-page-form h3 {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
    height: 300px
}
h3 {
    font-size: 20px;
    margin: 35px 0px 25px;
    font-weight: 800;
    color: #3d3d3d;
    text-transform: uppercase;
}

.map-overlay h3 {
    color: #fff;
    border-bottom: 2px solid #d2282e;
    padding-bottom: 15px;
}

.map-overlay {
    background: #000;
    -webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
    width: 500px;
    height: 320px;
    position: relative;
    float: left;
    z-index: 300;
    left: 0px;
    top: 675px;
    padding: 25px;
    margin-top: -550px;
    border: 3px solid #fff;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.map-overlay p {
    color: #fff;
}

.btn-primary {
  width: 100%;
}

.contact-right-info {
  margin-bottom: 25px;
}

@media only screen and (max-width: 991px) {
  .contact-right-info {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .contact-right-info {
    text-align: left;
  }
  .map-overlay {
    left: 0px;
  }
}


    .my-form {
        color: #305896;
    }
    .my-form .btn-default {
        background-color: #305896;
        color: #fff;
        border-radius: 0;
    }
    .my-form .btn-default:hover {
        background-color: #4498C6;
        color: #fff;
    }
    .my-form .form-control {
        border-radius: 0;
    }

html, body {
   font-family: 'Nanum Gothic', sans-serif;
}
.main-container {
   min-height:100%;
   position:relative;
}

* {
  box-sizing: border-box;
}

.customer-column {
  float: right;
  width: 25%;
  padding: 5px;
  border: 0.5px solid #ebebeb;
}

.customer-row{
  height: 50%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid #ebebeb;
}

.brand-column {
  float: right;
  width: 20%;
  padding: 8px;
  border: 0.5px solid #ebebeb;
}

.brand-row{
  height: 50%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid #ebebeb;
}




.pns-row{
  height: 50%;
  width: 90%;
  margin: 0 auto;
}
.pns-column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.navBarz{
  padding: 0px;
}

.vl {
  border-left: 5px solid #5089f2;
  display: table-cell;
  position: absolute;
  height: 20px;
  margin-top: 23px;
  margin-left: 6px;
}


.aboutBSS{
  color: #787878;
  font-size: 20px;
  font-family: Arial,"Nanum Gothic","Gulim","Dotum";
  display: table-cell;
  padding: 18px 10px 0 16px; 
  letter-spacing: -1px;
}
hr.solid {
  border-top: 1px solid #e8e8e8;
}

 .diamond-icon, .co-mainTitle{
  display:inline; 
}
.co-top{
  font-size: 14px;
}
.co-bot{
  color: #5089f2;
  font-size:11pt;
}

.co-top, .co-bot{
  margin:0;
}

.co-content, .overview{
  padding:20px;
}

.overview{
  width: 95%;
}

.overviewCareers{
  width: 95%;
  padding-left: 55px;
}
.pnsPic{
  display:flex;
}

.classWithPad { 
  margin:10px; 
  padding:10px;
   }

   .sbsTag { 
    display: inline-block; 
   }
.contact-card{
  display: table-cell;
  position: absolute;
}

